header{
    padding:1rem;
    display:flex;
    justify-content: end;
    align-items: center;
}

#search{
    padding : 0.5rem;
    height:1.7rem;
    background-color: antiquewhite;
    border:none;
    border-radius: 20px;
}