.main{
    width:90vw;
    height:80vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    .movie-list{
        border:2px solid red;
        width:30%;
        height:50%;
        margin:0.4rem;
    }
    .movie-info{
        display:flex;
        justify-content: space-between;
        align-items: center;
        color:white;
    }
}